@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 1% 4% 1% 4%;
}

.header-scroll {
    top: 0px;
    background-color: #00000038;
    box-shadow: 1px 1px 10px 1px #00000038;
    backdrop-filter: blur(5px);
}

.header-logo {
    width: 9%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.header-logo img {
    width: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 1%;
}

.header-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffff;
}

.point {
    border: 2px solid #F25C05;
    background-color: #F25C05;
    border-radius: 100%;
    width: 6%;
    height: 7px;
    opacity: 0;
    transition: 0.5s;
}

.header-link:hover .point {
    opacity: 1;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 43rem;
    position: relative; 
}

.slider {
    position: relative; 
}

.container-banner {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 5%; /* Ajuste conforme necessário */
    transform: translateY(-50%);
    z-index: 1; /* Garante que os textos estejam sobrepostos às imagens */
}

.banner-text h1 {
    color: #FFF;
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    overflow: hidden;
    width: 60%; /* Ajuste conforme necessário */
}

.banner-text strong {
    font-weight: 500;
    color: #F25C05;
}

.banner-text p {
    color: #F25C05;
    font-size: 2.12rem;
    max-width: 300px; /* Ajuste conforme necessário */
}

.banner-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    background-color: #F25C05;
    border: 2px solid #F25C05;
    border-radius: 26.525px;
    box-shadow: 0px 2.511px 2.511px 0px rgba(0, 0, 0, 0.25);
    width: 10%;
    padding: 0.7%;
    margin-top: 1.5%;
    transition: 0.5s;
}

.banner-text a:hover {
    background-color: transparent;
}

.container-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7%;
}

.cards-events{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 1px 1px #fff;
    border-radius: 20px;
    position: relative;
}

.cards-events img{
    width: 100%;
    border-radius: 20px;
    filter: brightness(50%);
    position: relative;
}

.cards-events p{
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-events h1{
    font-size: 3rem;
}

.title-events strong{
    color: #F25C05;
}

.expo-events{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.item-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 20%;
}

.item-events img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    position: relative;
    filter: brightness(60%);
    box-shadow: 2px 2px 1px 1px #0D0D0D;
}

.item-events span{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.container-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    background-image: url(/assets/coffee-beans-background.png);
}

.container-filters{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
    padding: 1%;
}

.filter-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    background-color: transparent;
    border: 2px solid #F25C05;
    border-radius: 26.525px;
    box-shadow: 0px 2.511px 2.511px 0px rgba(0, 0, 0, 0.25);
    width: 11%;
    padding: 0.6%;
    margin-top: 1.5%;
    transition: 0.5s;
}

.filter-btn:hover{
    background-color: transparent;
}

.filter-btn:focus{
    background-color: #F25C05;
    color: #fff;
}

.clear-filter-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
}

.text-calendar h2{
    color: #fff;
    font-size: 2.5rem;
}

.text-calendar p{
    font-size: 1.4rem;
    color: #fff;
}

.events{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 1%;
    padding: 5%;
}

.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6%;
    background-color: #fff;
    padding: 5% 5% 5% 5%;
}

.title-contact {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.form label{
    color: #1E1E1E;
    margin-top: 1.5%;
}

.form input,
.form textarea,
.form button {
    width: 99%;
    background: #FFFEEB;
    transition: 0.5s;
}

.form input,
.form textarea {
    font: inherit;
    border: 1px solid transparent;
    background-color: #F25C05;
    border: 1px solid #F25C05;
    border-radius: 10px;
    padding: 1%;
    color: #fff;
    transition: all 0.5s;
}

.form input::placeholder,
.form textarea::placeholder {
    transition: 0.5s;
    color: #fff;
}

.form input:hover::placeholder,
.form textarea:hover::placeholder {
    color: #000;
}


.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    background: transparent;
    color: #000;
    box-shadow: 2px 2px 3px 0px #0000006b;
}

.form button {
    background: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 1%;
    width: 25%;
    border: 2px solid #F25C05;
    border-radius: 20px;
    background-color: #F25C05;
    cursor: pointer;
    transition: 0.5s;
}

.form button:hover {
    background-color: transparent;
    color: #000;
}

.formu {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
    overflow-y: hidden;
}

.formu::before {
    display: block;
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    background-color: #0D0D0D;
    padding: 5% 5% 5% 5%;
}

.contact-unidades {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-unidades h2 {
    color: #FFF;
    font-size: 32.118px;
    font-weight: 600;
}

.contact-locais {
    display: flex;
}

.locais {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.locais span {
    color: #F25C05;
    font-size: 28px;
    font-weight: 700;
}

.locais p {
    color: #ffff;
    font-size: 18px;
}

#torre {
    width: 50%;
    border-right: 6px solid #ffff;
}

#jaqueira {
    padding-left: 7%;
    width: 50%;
}

.contact-phone {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-phone h2 {
    color: #FFF;
    font-size: 32.118px;
    font-weight: 600;
}

.phone {
    display: flex;
    gap: 10%;
}

.phone p {
    color: #ffff;
    font-size: 18px;
}

.contact-social {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-social h2 {
    color: #ffff;
    font-size: 32.118px;
    font-weight: 600;
}

.social {
    display: flex;
    gap: 10%;
}

.social svg {
    width: 100%;
}

.social a {
    transition: 0.5s;
}

.social a:hover {
    scale: 1.05;
}

