@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 1% 4% 1% 4%;
}

.header-scroll {
    top: 0px;
    background-color: #00000038;
    box-shadow: 1px 1px 10px 1px #00000038;
    backdrop-filter: blur(5px);
}

.header-logo {
    width: 9%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #ffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.header-logo img {
    width: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 1%;
}

.header-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffff;
}

.point {
    border: 2px solid #F25C05;
    background-color: #F25C05;
    border-radius: 100%;
    width: 6%;
    height: 7px;
    opacity: 0;
    transition: 0.5s;
}

.header-link:hover .point {
    opacity: 1;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/banner.png);
    background-color: #0d0d0d99;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 43rem;
}

.banner-text {
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 5%;
}

.banner-text h1 {
    color: #FFF;
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    overflow: hidden;
    width: 50%;
}

.banner-text strong {
    font-weight: 500;
    color: #F25C05;
}

.banner-text p {
    color: #F25C05;
    font-size: 2.12rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    background-color: #F25C05;
    border: 2px solid #F25C05;
    border-radius: 26.525px;
    box-shadow: 0px 2.511px 2.511px 0px rgba(0, 0, 0, 0.25);
    width: 10%;
    padding: 0.7%;
    margin-top: 1.5%;
    transition: 0.5s;
}

.banner-text a:hover {
    background-color: transparent;
}

.element-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 2% 5% 2% 5%;
    background: #ffff;
    position: absolute;
    transform: translate(26%, -100px);
    border-radius: 25px;
    box-shadow: 3px 10px 20px -5px #0d0d0d5b;
}

.item-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.item-element:hover {
    scale: 1.05;
}

.item-element span {
    color: #F25C05;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    width: 80%;
}

.item-element svg {
    width: 50%;
    height: 100%;
}

.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
}

.menu-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 5% 5%;
    padding: 1%;
}

.menu-text h2 {
    color: #050505;
    font-size: 43.38px;
    font-weight: 800;
    border-bottom: 6px solid #F24405;
}

.menu-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #F25C05;
    border: 2px solid #F25C05;
    border-radius: 26.525px;
    box-shadow: 0px 2.511px 2.511px 0px rgba(0, 0, 0, 0.25);
    width: 10%;
    padding: 0.7%;
    margin-top: 1.5%;
    transition: 0.5s;
}

.menu-text a:hover {
    background: transparent;
    color: #000;
}

.container-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide {
    width: 80%;
    padding: 0% 5% 0% 5%;
}

.splide__list {
    gap: 50px;
}

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    height: 500px;
    padding: 3% 0% 3% 0%;
    width: 30% !important;
}

.splide__slide img {
    border-radius: 36px;
    width: 90%;
    height: 100%;
}

.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 5%;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #0D0D0D;
    box-shadow: 0px 0px 20px 5px #0D0D0D;
    color: #ffff;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 26%;
}

.about-text span {
    color: #F25C05;
    font-size: 28px;
}

.about-text h2 {
    color: #ffff;
    font-size: 48.061px;
    font-weight: 900;
}

.about-text strong {
    text-decoration: underline #F29057;
}

.about-text p {
    margin-top: 6%;
    color: #ffff;
    font-size: 18px;
}

.about-unidades {
    display: flex;
    flex-direction: column;
}

.about-unidades h2 {
    color: #ffff;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.about-unidades span {
    margin-top: 10%;
    color: #F25C05;
    font-size: 28px;
    font-weight: 700;
}

.about-unidades p {
    margin-top: 3%;
    color: #ffff;
    font-size: 18px;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    border-radius: 27px;
    border: 2px solid #fff;
    width: 400px;
    height: 450px;
}

.unidades-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-top: 5%;
    padding-bottom: 3%;
    background-image: url(/assets/coffee-beans-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.unidades-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.unidades-text h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.unidades-text p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    width: 90%;
}

.container-unidades {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.unidades {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 2.5em;
}

.unidades:hover .unidades-image {
    filter: brightness(60%);
}

.unidades:hover .unidades-span {
    opacity: 1;
}

.unidades-image {
    display: flex;
    flex-direction: column;
    width: 400px;
    transition: 0.5s;
}

.unidades-image img {
    border-radius: 2.5em;
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}

.unidades-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

.unidades-span svg {
    width: 60%;
}

.unidades-span span {
    color: #ffff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.feedback-page {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

.feedback-text {
    display: flex;
    flex-direction: column;
}

.feedback-text h2 {
    color: #F25C05;
    font-family: 'Kiwi Maru', serif;
    font-size: 40.763px;
    font-weight: 500;
    line-height: 47.637px;
    width: 60%;
    margin-left: 5%;
}

.feedback-text img {
    width: 60%;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feedbacks h2 {
    color: #0D0D0D;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.feedback-slider {
    display: flex;
    flex-direction: column;
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    background-color: #0D0D0D;
    padding: 5% 5% 5% 5%;
}

.contact-unidades {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-unidades h2 {
    color: #FFF;
    font-size: 32.118px;
    font-weight: 600;
}

.contact-locais {
    display: flex;
}

.locais {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.locais span {
    color: #F25C05;
    font-size: 28px;
    font-weight: 700;
}

.locais p {
    color: #ffff;
    font-size: 18px;
}

#torre {
    width: 50%;
    border-right: 6px solid #ffff;
}

#jaqueira {
    padding-left: 7%;
    width: 50%;
}

.contact-phone {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-phone h2 {
    color: #FFF;
    font-size: 32.118px;
    font-weight: 600;
}

.phone {
    display: flex;
    gap: 10%;
}

.phone p {
    color: #ffff;
    font-size: 18px;
}

.contact-social {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-social h2 {
    color: #ffff;
    font-size: 32.118px;
    font-weight: 600;
}

.social {
    display: flex;
    gap: 10%;
}

.social svg {
    width: 100%;
}

.social a {
    transition: 0.5s;
}

.social a:hover {
    scale: 1.05;
}