* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}